/packages/hookified_shared_preferences/.flutter-plugins-dependencies
/packages/hookified_shared_preferences/.flutter-plugins
/packages/hookified_package_info_plus/.flutter-plugins-dependencies
/packages/hookified_package_info_plus/.flutter-plugins
/.dart_tool/package_config.json
